:root {
    /* Fonts */
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* Colors */
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;
	--color-ocean: #404bbf;
    --color-btn-filter:#4D5AE5;
    --btn-filter-active-cl:#FFFFFF;
    --portfolio-title-cl:#2E2F42;
    --portfolio-text-cl:#434455;
    --logo-cl:#4d5ae5;
    --logo-list-cl:#2E2F42;
    /* accent-color*/
	--accent-color: #404bbf;
    /* BG colors */
    --body-bg-cl: #ffffff;
    --hero-bg-cl:#2E2F42;
    --team-bg-cl:#F4F4FD;
    --footer-bg-cl:#2E2F42;
    --portfolio-bg-cl:var(--color-white);
    --btn-filter-bg: #F4F4FD;
    --btn-filter-bg-active:#404BBF;
   
}

body {
font-family: var(--primary-font);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate);
background-color: var(--body-bg-cl);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
h1,h2,h3,h4,h5,h6,p {
margin: 0;
}
ul {
margin: 0;
padding: 0;
}
.container {
margin-left: 156px;
margin-right: 156px;
}
.list {
list-style: none;
}
.link {
text-decoration: none;
}

/* header */
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
color: var(--logo-cl);
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-list {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1,17;
color: var(--logo-list-cl);
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-list-footer {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1,17;
color: var(--color-cloud);
}
.header-container {
outline: 2px solid greenyellow;
}
.menu-nav {
color: var(--color-navy-blue);
font-size: 16px;
line-height: 1.5;
}
.menu-item {

}
.menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-navy-blue);
}
.menu-link:hover,
.menu-link:focus,
.address-link:hover,
.address-link:focus  {
    color: var(--accent-color);
}
.menu-box {
 
}
.page-header {
   
}
.page-address {
font-style: normal;
}
.address-item {
margin-right: 40px;
}
.address-item:last-child {
    margin-right: 0;
  }
.address-link {
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate);
}

/* Hero sections */
.hero-section {
background-color:var(--hero-bg-cl) ;
margin-bottom: 120px;
text-align: center;
}
.hero-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--color-white);

padding-top: 188px;
width: 496px;
margin: 0 auto 48px auto;
}
.hero-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-white);
background-color: var(--color-iris);
cursor: pointer;
margin-bottom: 188px;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-color);
}

/* Advantages */
.advantages-section,
.section-2 {
    margin-bottom: 120px;
}
.advantages-list {
    
}
.advantages-item {
width: 264px;
}
.advantages-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-navy-blue);
}
.advantages-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-slate);
}

/* section2-What are we doing */
.title-sections {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-navy-blue);
padding-top: 120px;
margin-bottom: 72px;
}

/* Our Team */
.team-sections {
    background-color: var(--team-bg-cl);
}
.team-list {
padding-bottom: 120px;
}
.team-item{
background-color: var(--color-white);
width: 264px;
margin-right: 24px;

}
.team-item:last-child {

}
.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--color-navy-blue);

margin-bottom: 8px;
}
.team-text {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--color-slate);
padding-bottom: 32px;
}
.img-teem {
    margin-bottom: 32px;
}


/* footer */
.footer-section {
background-color: var(--footer-bg-cl);
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-cloud);
width: 264px;
padding-bottom: 100px;
margin-top: 16px;
}
.footer-logo {
    padding-top: 100px;
}

/* PORTFOLIO */

/* Filter */
.filter {

}
.filter-list {

}
.filter-item {

}
.btn-filter {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--color-btn-filter);
background-color: var(--btn-filter-bg);
cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
color:var(--btn-filter-active-cl);
background-color: var(--btn-filter-bg-active);
}

/* Portfolio */
.portfolio-list {

}
.portfolio-item {

}
.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--portfolio-text-cl);
}
.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--portfolio-title-cl);
}


